html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* ??m b?o body cao b?ng màn hình */
}

main {
    flex: 1; /* Giúp ph?n main giãn ra, ??y footer xu?ng */
}

footer {
    background: #212529;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: auto; /* Cái này quan tr?ng ?? footer n?m d??i */
}

.bee-navbar {
    background-color: #ffc107 !important;
}

.navbar .nav-link.active {
    font-weight: bold !important;
    text-decoration: underline !important;
}
.card {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    border-radius: 10px;
}

    .card:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    }

.card-img-top {
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.lead {
    font-size: 1.2rem;
}

img.rounded-circle {
    border: 5px solid #fcbf1e;
}
main h1 {
    font-weight: 700;
}

.lead {
    font-size: 1.15rem;
}

img.rounded {
    border-radius: 12px !important;
}
.accordion-button {
    font-weight: 500;
}

    .accordion-button:not(.collapsed) {
        background-color: #fcbf1e;
        color: #212529;
    }


